.button {
  border: none;
  border-radius: 15px;
  background-color: var(--color-nemo);
  color: var(--color-foam);
  width: 40%;
  height: 2em;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.6em;
}
