.entry-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-content: space-between;
  gap: 1em;
  padding: 1em;
}

.entry {
  display: grid;
  grid-template-areas: "a c" "b b" "d d";
  border: solid thin;
  align-content: space-between;
  gap: 0.2em;
  padding: 1em;
}

.entry-date {
  grid-area: a;
}

.entry-title {
  grid-area: b;
}

.entry-text {
  grid-area: d;
}
