.header {
  background-color: var(--color-water-10);
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.header > h1 {
  background-color: transparent;
  color: var(--color-granite);
  text-transform: uppercase;
}
