@import url("./global.css");
@import url("./App.css");
@import url("./components/Button.css");
@import url("./components/EntriesSection.css");
@import url("./components/EntryForm.css");
@import url("./components/EntryList.css");
@import url("./components/Footer.css");
@import url("./components/Header.css");
@import url("./components/Input.css");
@import url("./components/Main.css");
@import url("./components/TabBar.css");
@import url("./components/Textarea.css");
